/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 200;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.primary-header {
  font-size: 8rem;
  font-weight: 100;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #172933;
  margin-bottom: 4rem;
}

/* Header */
.header {
  width: 100%;
  background-color: #172933;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

.logo {
  height: 6rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navbar-list a {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: #fdc851;
  position: relative;
  transition: all 0.3s;
}

.navbar-list a:hover::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #e09118;
  position: absolute;
  top: 2.5rem;
  transition: step-end 0.3s;
}

.navbar-list a:hover {
  color: #e09118;
  cursor: pointer;
}

/* Hero */
.hero {
  width: 100vw;
  height: 100vh;
  background: url(images/Home.jpg) center no-repeat;
  background-size: cover;
}

/* About Section */
.section-about {
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: #172933;
  padding: 10rem;
}

.about-img {
  width: 35%;
}

.about-header,
.testimonial-header {
  color: #fdc851;
}

.about-text {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  line-height: 2.8rem;
  color: #fdc851;
}

/* Section Portfolio */
.section-portfolio {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 15rem;
}

.portfolio-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15rem;
}

.portfolio-card {
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(224, 145, 24, 0.8);
  padding-bottom: 1.8rem;
}

.portfolio-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.portfolio-gallery:hover .portfolio-img {
  opacity: 0.5;
  cursor: pointer;
}

.portfolio-gallery:hover .portfolio-link {
  top: 30rem;
  transition: ease-in 0.3s;
}

.portfolio-link {
  font-size: 4rem;
  background-color: #172933;
  color: #fdc851;
  padding: 1.5rem 3rem;
  box-shadow: 0.2rem 0.2rem 0.5rem #e09118;
  position: absolute;
  top: -10rem;
  z-index: 10;
}

.portfolio-img {
  width: 100%;
  transition: 0.5s;
  border-radius: 0.3rem 0.3rem 0 0;
}

.portfolio-name {
  font-size: 3rem;
}

/* Testimonial Section */
.section-testimonials {
  width: 100vw;
  background-color: #172933;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.testimonial-box {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-card {
  width: 40rem;
  background-color: #d1d4d6;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transition: all 0.5s;
}

.testimonial-card:hover {
  box-shadow: 0.3rem 0.3rem 1rem #fdc851;
  transform: translateY(-2rem);
}

.testimonial-icon i {
  font-size: 2rem;
  color: #e09118;
  margin-bottom: 2rem;
}

.testimonial-text {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.testimonial-line {
  background-color: #e09118;
  height: 0.1rem;
  width: 10%;
  margin-bottom: 1rem;
}

.testimonial-rating i {
  font-size: 1.2rem;
  color: #fdc851;
  margin-bottom: 1rem;
}

.testimonial-img {
  width: 10rem;
  border-radius: 50%;
  margin: 1.6rem 0;
}

.testimonial-name {
  font-size: 2rem;
  font-weight: 300;
  color: #172933;
}

/* Process Section */
.section-process {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 10rem;
}
/* Contact Section */
.section-contact {
  width: 100%;
  background-color: #d1d4d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 10rem;
}

.contact-form {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-input {
  height: 4rem;
  padding-left: 2rem;
  font-size: 2rem;
  color: #172933;
}

.contact-message {
  max-width: 100%;
  min-width: 100%;
  max-height: 20rem;
  min-height: 15rem;
  height: 15rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #172933;
}

.contact-input,
.contact-message,
.contact-form-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(224, 145, 24, 0.7);
}
.contact-input::placeholder,
.contact-message::placeholder {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #172933;
}

.contact-form-btn {
  width: 30%;
  padding: 1rem 2rem;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  align-self: center;
}

.contact-form-btn:hover {
  background-color: #172933;
  color: #fdc851;
  cursor: pointer;
}

/* Footer */
.footer {
  width: 100vw;
  background-color: #172933;
  color: #fdc851;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footer-header {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
}

.social-icon {
  font-size: 4rem;
  color: #fdc851;
  transition: color 0.3s;
  margin-bottom: 2rem;
}

.social-icon:hover {
  color: #e09118;
}

.copyright {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

@media (max-width: 1750px) {
  .portfolio-gallery:hover .portfolio-link {
    top: 25rem;
  }

  .testimonial-box {
    width: 90%;
  }
}

@media (max-width: 1550px) {
  .portfolio-gallery:hover .portfolio-link {
    top: 20rem;
  }

  .portfolio-link {
    font-size: 3rem;
    padding: 1rem 2rem;
  }

  .testimonial-box {
    width: 100%;
  }
}

@media (max-width: 1450px) {
  .navbar-list {
    gap: 3rem;
  }
  .testimonial-card {
    width: 30rem;
  }
}

@media (max-width: 1120px) {
}
